@import "reset.css";
html body {
  width: 100%;
  height: 100%;
}
#content {
  width: 98%;
  margin: 0.5% auto;
  background-image: url("../images/background_top_lobby.png");
  background-repeat: repeat-x;
  background-position-y: 35px;
  background-color: #f7f7f7;
}
#title {
  float: left;
  font-size: 1.2em;
  margin-left: 3%;
}
#content-section {
  padding-top: 6%;
  width: 98%;
}
#chat-title {
  text-align: center;
  font-size: 2.8em;
  margin: 0 auto;
  padding-bottom: 2%;
}
#chat-content {
  margin: 0 auto;
  width: 900px;
  border: solid 2px #ccc;
}
#chat-message {
  width: 100%;
  height: 100%;
  padding-top: 6px;
  background: #4ad391;
  border-bottom: solid 2px #aaa;
}
#input-message {
  margin: 0 auto;
  width: 80%;
  height: 35px;
  padding-top: 5px;
}
#input-message input[type="text"] {
  width: 90%;
  height: 20px;
}
#input-message input[type="submit"] {
  background: #333;
  color: #fff;
  border: 0;
  height: 25px;
  width: 50px;
}
#chat-history {
  width: 100%;
  height: 400px;
  overflow: auto;
}
.chat-label {
  background: #c3c3c3;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  width: 98%;
  border: solid 3px #aba;
  border-radius: 16px;
  overflow: hidden;
}
.picture {
  width: 70px;
  height: 60px;
  float: left;
}
.arrow {
  width: 20px;
  height: 100%;
  float: left;
}
.message {
  width: 645px;
  height: 87%;
  float: left;
  background: #ddd;
  overflow: auto;
  border: solid 1px #aaa;
  padding-left: 12px;
}
.icon-face {
  width: 80%;
  height: 100%;
  box-shadow: 7px 7px 7px rgba(90,90,90,0.7);
  -moz-box-shadow: 7px 7px 5px rgba(90,90,90,0.7);
  box-shadow: 7px 7px 5px rgba(90,90,90,0.7);
  border-radius: 35px;
  border: solid 2px #7f7;
  float: right;
}
footer {
  width: 98%;
}
