@import "reset.css";

html body
	height 100%
	width 100%
	position absolute

body
	background url("../images/home_background_1.png") no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

#bar-top
	width 100%
	color #fff
	position: absolute
	top: 0
	font-size 1.2em
	//background url('http://www.cs.unc.edu/~helser/graphics_page/images/back/paper/gray-wev.jpg')
	background #555
	

	#title
		float left
		width 15em
		padding-top .5%
		padding-left 6%
		font-family: 'Gochi Hand', cursive
		h1
			font-size 2em
	#main-login
		width 35em
		float right
		padding 1%
		label
			padding-left 3%
		input[type="submit"]
			margin-left 3%

#sing-up
	text-align center
	width 13em
	margin: 13% auto
	padding 2%
	border 2px solid #aaa
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;

	-webkit-box-shadow: 15px 14px 28px rgba(189, 189, 189, 0.6);
	-moz-box-shadow:    15px 14px 28px rgba(189, 189, 189, 0.6);

	background rgba(189, 189, 189, .25)
	h2
		font-family: 'Gochi Hand', cursive
		font-size 2em
		line-height: 2em
		cursor: pointer
	select
		width 13em
	#form-reg
		display: none